<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.syoboi.android.pedometeralarm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="jp.co.sharp.android.pedometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="jp.co.sharp.android.hardware" />

        <!-- メイン -->
        <activity
            android:name=".activity.MainActivity_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PollingService_"
            android:exported="false" />

        <receiver android:name=".receiver.MyReceiver_" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
<!--                 <action android:name="android.intent.action.HEADSET_PLUG" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>